.idea/

*.iws

/out/

.idea_modules/

atlassian-ide-plugin.xml

*.iml

*.class

*.jar
*.war
*.ear

hs_err_pid*

.gradle
/build/

gradle-app.setting

!gradle-wrapper.jar

.gradletasknamecache

/gradle/wrapper/gradle-wrapper.properties
src/test/groovy/
/.gitignore
